:root {
  --cinza01: #20452C;
  --cinza02: #9FDDB3;
  --cinza03: #a7aaaf;
  --cinza04: #808080;
  --cinza05: #4b4d4e;
  --cinza06: #3a3b3c;
  --cinza07:  #9FDDB3;
  --verde01: #9fddb3;
  --verde02: #2bff8a;
}

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

ul, li{
  list-style: none;
}
body{
  font-family: Tahoma, Verdana, Arial, Sans-serif;
  /*background: #FFF3E2;*/
  padding-bottom:100px;
}
button, input{
  outline: none;
}
.content{
  margin:0 auto;
  padding: 0 20px
}



/*aisde Nav Icons */
div.wrapper-content {
  display: flex;
  justify-content: space-between;
}
div.wrapper-content aside.nav-icons{
  width: 270px;

}
div.wrapper-content aside.nav-icons ul li{
  display: flex;
  align-items: center;
  margin: 15px 0;
}

div.wrapper-content aside.nav-icons ul li:first-child{
  margin-top: 0
}

div.wrapper-content aside.nav-icons ul li img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px ;
}
div.wrapper-content aside.nav-icons ul li span{
  font-size: 30px;
  color:var(--verde02);
  margin-right: 10px;

}
div.wrapper-content aside.nav-icons ul li strong{
  font-size: 16px;
  color: var(--cinza03);
}
div.wrapper-content aside.nav-icons button{
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color:var(--cinza06);
  font-size: 15px;
  font-weight: bold;
  color:var(--cinza03);
  display: flex;
  align-items: center;
  justify-content: center;
}
div.wrapper-content aside.nav-icons button:hover{
  background:  var(--cinza05);
}


/* Section Feed*/
div.wrapper-content section.feed{
  width: 540px;
  margin-right: 350px;
}
div.wrapper-content section.feed div.stories{
  display: flex;
}

div.wrapper-content section.feed div.stories div{
  height: 200px;
  padding: 10px;
  width: 112px;
  background: var(--cinza02);
  border-radius: 10px;
  margin-right: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url() no-repeat;
  background-position:left;
  background-size: cover;
}
div.wrapper-content section.feed div.stories div:last-child{
  margin-right: 0;
}

div.wrapper-content section.feed div.stories div img{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 3px solid var(--verde02);
}

div.wrapper-content section.feed div.stories div strong{
 font-size: 15px;
 color: #fff;
}


/*Feed*/

div.wrapper-content section.feed main ul li {
  margin-top:20px;
  border-radius: 10px;
  background: var(--cinza07);
}

div.wrapper-content section.feed main ul li div.user-info{
  padding:15px 10px;
}

div.wrapper-content section.feed main ul li div.user-info div{
  display: flex;
  justify-content: center;
  align-items: center;
}
div.wrapper-content section.feed main ul li div.user-info div div {
  display: flex;
  align-items: center;
}
div.wrapper-content section.feed main ul li div.user-info div div div{
 display: flex;
 flex-direction: column;
 align-items: flex-start;
}

div.wrapper-content section.feed main ul li div.user-info div div div strong{
  font-size: 25px;
  color: var(--cinza01);
}

div.wrapper-content section.feed main ul li div.user-info div div div p{
  display: flex;
  align-items: center;
  color: var(--cinza01);
  font-size: 15px;
}

div.wrapper-content section.feed main ul li div.user-info div div div p span{
  font-size: 15px;
  margin-left: 5px;
}
div.wrapper-content section.feed main ul li div.user-info div img{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right:8px;
}

div.wrapper-content section.feed main ul li div.user-info div span{
  color: var(--cinza01);
}
div.wrapper-content section.feed main ul li div.user-info > p{
  margin-top: 10px ;
  color: var(--cinza01);
}

div.wrapper-content section.feed main ul li div.image-feed {
  width: 100%;
  height: 500px;
  background:url(https://www.sabornamesa.com.br/media/k2/items/cache/668fe285e7b87ea59a0ba9aff307fa0b_XL.jpg) no-repeat;
  background-position: center right;
  background-size:cover ;
}

a {
  text-decoration: none;
  color: var(--cinza04);
}


div.wrapper-content section.feed main ul li div.actions-user {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 100%;
}

div.wrapper-content section.feed main ul li div.actions-user div{
  color:var(--cinza01);
  display: flex;
  align-items: center;
  margin-right: 50px;
  font-size: 14px;
}

div.wrapper-content section.feed main ul li div.actions-user div:last-child{
  margin-right: 0px;
}

div.wrapper-content section.feed main ul li div.actions-user div span{
  font-size: 18px;
  margin-right: 10px;
}



 /* Section Feed*/
 div.wrapper-content section.feed{
  width: 800px;
  margin-right: 300px;

}

/*Modal*/

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}
.body {
  background-color: #fafafa;
  font-family: Tahoma, Verdana, Arial, Sans-serif;
}


@media screen and (max-width: 1605px) {
  .nav-container {
      padding-left: 20% ; 
      padding-right: 20% ;
  }
}

@media screen and (max-width: 992px) {
  .nav-container {
      padding-left: 5% ; 
      padding-right: 5% ;
  }
}

.img-nav {
  border-radius: 100%;
  -o-border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%; 
  max-width:30px; 
  max-height:25px;
}

.img-profile {
  border-radius: 100%;
  -o-border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%; 
  max-width:200px; 
  max-height:150px;
}

.username {
  font-weight: 270; font-size: 28px;
}

.name {
  font-size: 16px; display: inline; font-weight: 600 ;
}

.profile-datas {
  font-size: 16px;
}

.profile-desc {
  font-size: 16px; 
}



.nav-feed {
  border-bottom: none ; 
  display:flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
}

.nav-link-1 {
  color:  #2bff8a;
  background-color: #fafafa ;
  border-color: gray #fff #fff ;
  border-top-right-radius: .0rem ;
  border-top-left-radius: .0rem ;
  font-size: 12px;
  font-weight: 600;
}

.nav-link-2 {
  color:  #2bff8a;
  background-color: #fafafa ;
  border-color: #fff #fff #fff ;
  border-top-right-radius: .0rem ;
  border-top-left-radius: .0rem ;
  font-size: 12px;
  font-weight: 600;
}


.card {
  border: 0px solid rgba(0,0,0,.125) ;
  border-radius: .0rem ;
}

.card .card-img, .card-img-top {
  border-top-left-radius: 0rem ;
  border-top-right-radius: 0rem ;
}



.form-control {
  border-radius: .15rem ;
  padding: 0%; 
  background-color: #fafafa ; 
  text-align: center; 
  font-size: 15px ;
}

.icons {
  padding: 4%; 
  font-size: 25px;
}

.button-edit {
  border-radius: 20px;
border: 1px solid var(--verde02);
background-color: #2bff8a ;
color: #FFFFFF;
font-size: 14px;
font-family: 'Inter', sans-serif;
padding: 12px 45px;
letter-spacing: 1px;
transition: transform 80ms ease-in;
cursor: pointer;
}

.btn {
  padding: .100rem .50rem ;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/*Posição das fotos*/
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery-item {
  display: inline-block;
  width: calc(33.33% - 10px);
  margin-bottom: 30px;
}

.gallery-item img {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .gallery-item {
    width: calc(50% - 10px);
  }
}

/*Profile stats*/
.profile-stats {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.profile-stats ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.profile-stats li {
  margin-right: 10px;
  color: #555;
  font-size: 14px;
}

.profile-stats span {
  font-weight: bold;
  margin-right: 5px;
}

